<div class="flex flex-col gap-5 p-5">
    <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-2">
        <h1 class="text-xl font-bold">Mi lista de tareas</h1>
        <app-create-new-task-dialog />
    </div>
    <div class="grid grid-cols-3 gap-10 min-w-150 overflow-auto" cdkDropListGroup>
        @for (column of columns; track column) {
        <p-accordion>
            <p-accordion-panel [style]="{ border: 'none' }">
                <div class="border border-zinc-700 rounded-2xl overflow-hidden">
                    <p-accordion-header [style]="{ cursor: 'default' }">
                        <ng-template #toggleicon></ng-template>
                        <div class="flex flex-col gap-3">
                            <h2 class="text-lg font-semibold capitalize">{{ getListName(column) }}</h2>
                        </div>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="min-h-20" cdkDropList [cdkDropListData]="taskStore.groupedTasks()[column]"
                            [cdkDropListOrientation]="'vertical'" (cdkDropListDropped)="handleDrop($event, column)">
                            @for (task of taskStore.groupedTasks()[column]; track task.id) {
                            <div class="task mb-3 p-2 border border-zinc-700 rounded-lg" cdkDrag [cdkDragData]="task">
                                <h3 class="font-semibold">{{ task.name }}</h3>
                                <p class="text-sm">{{ task.description }}</p>
                                <p class="text-sm">Prioridad: {{ task.priority }}</p>
                            </div>
                            }
                        </div>
                    </p-accordion-content>
                </div>
            </p-accordion-panel>
        </p-accordion>
        }
    </div>
</div>